{% extends 'base.html' %}

{% block links %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">{% endblock %}
{% block title %}سبد خرید{% endblock %}

{% block body %}

<div class="container">
    <table class="table table-striped table-dark" style="border: 3px solid;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">عکس</th>
            <th scope="col">محصول</th>
            <th scope="col">سایز</th>
            <th scope="col">رنگ</th>
            <th scope="col">تخفیف</th>
            <th scope="col">قیمت با اعمال تخفیف</th>
            <th scope="col">تعداد</th>
            <th scope="col">قیمت نهایی</th>
            <th scope="col">حذف</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for basket in basket %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><img src="{{basket.product.image.url}}" style="width: 100px; height: 100px;"></td>
            <td>{{basket.product.name}}</td>
            <td>{{basket.variant.size_variant.name}}</td>
            <td>{{basket.variant.color_variant.name}}</td>

            <!-- discount -->
            <td>
                {% if basket.product.status != None %}
                    {% if basket.variant.discount %}
                        {{basket.variant.discount}}%
                    {% else %}
                        <small>0</small>
                    {% endif %}
                {% else %}
                    {% if basket.product.discount %}
                        {{basket.product.discount}}%
                    {% else %}
                        <small>0</small>
                    {% endif %}
                {% endif %}
            </td>

            <!-- total discount price -->
            <td>
                {% if basket.product.status != None %}
                    {{basket.variant.total_price}}
                {% else %}
                    {{basket.product.total_price}}
                {% endif %}
            </td>

            <td>{{basket.quantity}}</td>
            <!-- total price -->
            <td>
                {% if basket.product.status != None %}
                    {% widthratio basket.variant.total_price 1 basket.quantity %}
                {% else %}
                {% widthratio basket.product.total_price 1 basket.quantity %}
                {% endif %}
            </td>

            <td>
                <a href="{% url 'sale:remove_basket' basket.id %}"><i class="fa fa-trash"></i></a>
            </td>
          </tr> 

        {% endfor %}
        <tr>
            <td style="background-color: #990000;color: white;" colspan="8">جمع کل:</td>
            <td style="background-color: #990000;color: white;" colspan="8">{{total}}</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}